
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OgrenciDetay</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Numara</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewData["ad"]</td>
                <td>@ViewData["soyad"]</td>
                <td>@ViewData["numara"]</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
